/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  height: 140vh;
  background-size: Cover;
  margin-top: 90px;
  margin-left: 150px;
  margin-right: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-store-heading {
  font-family: 'Bree Serif';
  color: #1e293b;
  font-size: 30px;
  font-weight: bold;
}
.search-input-container {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  width: 100%;
  max-width: 250px;
  border-radius: 4px;
  border: 1px solid #7b8794;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}
.search-icon {
  width: 16px;
  height: 16px;
}
.search-input {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
}
.ul-container {
  display: flex;
  justify-content: center;
}
.app-detail-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
